h4  {
    color: #000080;
    font-size: 100%;
    font-family: Georgia, Verdana, sans-serif;
    text-align: center;
}
@media screen and (min-width: 980px) /* Desktop */ {
    .footerMain {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
        width:100%; 
        background-color:#884242; 
        padding: 10px; 
        height: 120px;
        font-size: 200%;
        font-family: Georgia, Verdana, sans-serif;
    }
}
@media screen and (max-width: 500px) /* Mobile */ {
    .footerMain {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
        width:100%; 
        background-color:#884242; 
        padding: 10px; 
        height: 120px;
        font-size: 200%;
        font-family: Georgia, Verdana, sans-serif;
    }
}